[submodule "external/SDL3"]
	path = external/SDL3
	url = https://www.github.com/libsdl-org/SDL
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://www.github.com/libsdl-org/SDL_image
[submodule "external/SDL3_ttf"]
	path = external/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf
